{% extends 'base.html' %}

{% block content %}
    <div class="middle_box">
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="language" id="example">
            <script type="text/javascript">
                document.getElementById('example').value=val();
            </script>
            <h2 class="register-title">{{ texts.change_password }}</h2>
            <h4>{{ texts.old_password }}</h4>
            <h4 class="old_password">{{ form.old_password }}</h4>
            <h4>{{ texts.new_password }}</h4>
            <h4>{{ form.new_password1 }}</h4>
            <h4>{{ texts.new_password_conf }}</h4>
            <h4>{{ form.new_password2 }}</h4>
            <button class="sign_in_change" type="submit">{{ texts.change_password }}</button>
            <p>{{ form.errors }}</p>
        </form>
    </div>
{% endblock %}
