{% extends 'base.html' %}

{% block content %}
    <div class="middle_box">
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="language" id="example">
            <script type="text/javascript">
                document.getElementById('example').value=val();
            </script>
            <h2 class="register-title">{{ texts.drop }}</h2>
            <h4>{{ texts.email }}</h4>
            {{ form.email }}
            <button class="sign_in" type="submit">{{ texts.drop_btn }}</button>
            <p class="error">
                {{ form.non_field_errors }}
            </p>
            <p>{{ message.errors }}</p>
        </form>
    </div>
{% endblock %}
